@tailwind base;
@tailwind components;
@tailwind utilities;

.email-input {
  background: transparent url("./images/icon-email.svg") no-repeat 13px center;
}

.password-input {
  background: transparent url("./images/icon-password.svg") no-repeat 13px
    center;
}

.password-input:focus,
.email-input:focus {
  caret-color: #633cff;
}

.header-links-btn svg path {
  fill: currentColor;
}

.header-profile-btn svg path {
  fill: currentColor;
}

.phone {
  border: 1px solid #737373;
  width: 307px;
  height: 631px;
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.phone-inner {
  border: 1px solid #737373;
  width: 285px;
  height: 611px;
  border-radius: 60px;
}

.camera {
  width: 130px;
  height: 20px;
  border: 1px solid #737373;
  background-color: white;
  margin-inline: auto;
  margin-top: -1px;
  border-top: none;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
}

.flex-2 {
  flex: 2;
}

.label-svg path {
  fill: currentColor;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fafafa;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #737373;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #333;
}

.link-input {
  background: transparent url("./images/icon-link.svg") no-repeat 13px center;
}

.colored-icon {
  filter: brightness(0) invert(1);
}
